@import "tailwindcss";

@theme {  
  --color-background: #202020;
}

@layer base{

  .syne-font {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: "Montserrat", sans-serif;

  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
    backdrop-filter: blur(20px);
    border: 1px solid color-mix(in srgb, var(--color-border) 65%, transparent);
  }
  .glass-light {
    background-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
    backdrop-filter: blur(20px);
    border: 1px solid color-mix(in srgb, var(--color-border) 65%, transparent);
  }

  .glass-transparent {
    background-color: color-mix(in srgb, var(--color-transparent) 50%, transparent);
    backdrop-filter: blur(20px);
   }

}